<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kilatrou - Nos offres</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .photo-profil{max-height: 200px;}
        .thumbnail{height:500px;}
    </style>
  </head>
  <body>
    <div class="container-fluid col-md-10 col-md-offset-1">
        {% include 'UserBundle::include/carousel.html.twig' %}

        {# Produits #}
        <div class="row" style="margin-top:2%">
            <h3 class="text-center">Nos produits du moment</h3>
        </div>
        <div class="row" style="margin-top:2%">
            <div class="col-md-12">
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img class="photo-profil" alt="Photo" src="{{ product.image }}"/>
                                <div class="caption">
                                    <h3>{{ product.reference }}</h3>
                                    <p><b>Prix:</b> {{ product.prix }}€</p>
                                    <p><b>Note:</b> {{ product.note }}/10</p>
                                    <p>{{ product.description }}</p>
                                    <p><a class="btn btn-primary" href="./produit/{{ product.id }}">En savoir plus</a></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% include 'UserBundle::include/footer.html.twig' %}
    </div>
  </body>
</html>