<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kilatrou - Nos offres</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .photo-profil{width: 100%;}
        .thumbnail{height:500px;}
    </style>
  </head>
  <body>
    <div class="container-fluid col-md-10 col-md-offset-1">
        {% include 'UserBundle::include/carousel.html.twig' %}

        <!-- Produit -->
        <div class="row" style="margin-top: 5%">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <img class="photo-profil" alt="Photo" src="{{ product.image }}"/>
                    </div>
                    <div class="col-md-6">
                        <h3>{{ product.reference }}</h3>
                        <p><b>Prix:</b> {{ product.prix }}€</p>
                        <p><b>Note:</b> {{ product.note }}/10</p>
                        <p><a class="btn btn-primary" href="../commander/{{ product.id }}">Je la veux !</a></p>
                        <p><a class="btn btn-danger" href="../nos-offres">Non merci</a></p>
                    </div>
                </div>
                <div class="row" style="margin-top: 5%">
                    <div class="col-md-12">
                        <p><b>Description:</b></p>
                        <p>{{ product.description }}</p>
                    </div>
                </div>
            </div>
        </div>

        {% include 'UserBundle::include/footer.html.twig' %}
    </div>
  </body>
</html>